body {
	background: #f0f0f0;	
}

#header {
	background-color: #FFDF0E;
	height: 55px;
	width: 100%;
}

#header_image {
	background-color: #FFDF0E;
	height: 55px;
	width: 100%;
}

#syne_logo {
	position: relative;
	left: 90px;
	top: 8px;
}

.title {
	font-size: 40px;
	padding-top: 20px;
}

.border-bottom {
	border-bottom: 1px solid #BCBCBC;
}

.container {
	padding-top: 40px;
}
