.clsContent:after {
    clear: both;
    content: '';
    display: block;
}
.clsMainContent .clsContent label,
.clsMainContent .clsContent .clsTextBox {
    float: left;
    width: 200px;
    font-size:15px;
}
.clsMainContent .clsContent {
    padding: 0 0 20px 0;
}
.clsMainContent .clsContent .clsTextBox {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius:0px;
}
.clsMainContent .clsContent label.error {
    color: red;
    padding:0;
    width: auto;
    background: none;
    font-size: 13px;
    font-weight: normal;
    margin:0 0 0 200px;
}
.clsMainContent .clsContent .clsTextBox.error {
    border: 1px solid red;
    outline: none;
    background:none;
}

.clientBtns {
    margin: 0 0 0 200px;
}