
<div id="header_image">
	<a href="#"> <img src="https://eag.synechron.com/SYNE.UI.Web.Content/Content/Style/Images/Syne-logo.png" id="syne_logo" alt="Synechron" /></a>
	<p id="header_logo_subtitle"> Recognition System</p>
  <!--<a> <img class ="f" src ="https://eag.synechron.com/SYNE.UI/Tiles/Common/AppStore/GetCompressedImage" height="35px" alt style="float:right ;margin-right:0px"/></a>-->
</div>
    
  <div class="container">      

    <!--Page Content -->
    <router-outlet></router-outlet>

  </div>
