
<div id="header_image">
	<a href="#"> <img src="https://eag.synechron.com/SYNE.UI.Web.Content/Content/Style/Images/Syne-logo.png" id="syne_logo" alt="Synechron" /></a>
	<p id="header_logo_subtitle"> Recognition System</p>
</div>
    
  <div class="container">  
    <!--<div id="sidebar-wrapper" class="">
        
            <nav>
                <ul class="sidebar-nav nav">
                    <li class="active"><a routerLink = '/myrecomendation'>My Recomendation</a></li>
                    <li><a routerLink = '/postrecomendation'>Post Recomendation</a></li>                    
                </ul>
            </nav>
        
     </div>-->

    <!--Page Content -->
    <router-outlet></router-outlet>

  </div>
